In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [2]:
df = pd.read_csv("weather_data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [41]:
df['Date/Time'] = pd.to_datetime(df['Date/Time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date/Time          8784 non-null   datetime64[ns]
 1   Temp_C             8784 non-null   float64
 2   Dew Point Temp_C   8784 non-null   float64
 3   Rel Hum_%          8784 non-null   int64
 4   Wind Speed_km/h    8784 non-null   int64
 5   Visibility_km      8784 non-null   float64
 6   Press_kPa          8784 non-null   float64
 7   Weather Condition  8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

In [4]:
df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [9]:
df['Weather'].nunique()

50

In [10]:
df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)


unique wind speed

In [11]:
df['Wind Speed_km/h'].nunique()

34

how much weather is clear

In [20]:
df['Weather'].value_counts()

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Freezing Rain,Fog                             4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Fog                                  4
Snow Showers,Fog                              4
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain                            3
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Drizzle,Snow                                  2
Moderate Snow,Blowing Snow                    2
Thunderstorms                                 2
Freezing Rain,Haze                            2
Rain Showers,Snow Showers                     2
Freezing Rain,Snow Grains                     1
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain,Fog                        1
Freezing Rain,Ice Pellets,Fog                 1
Moderate Rain,Fog                             1
Rain,Snow,Fog                                 1
Snow Pellets                                  1
Rain Showers,Fog                              1
Drizzle,Ice Pellets,Fog                       1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Name: count, dtype: int64

wind speed = 4

In [23]:
df[df['Wind Speed_km/h']==4]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
96,1/5/2012 0:00,-8.8,-11.7,79,4,9.7,100.32,Snow
101,1/5/2012 5:00,-7.0,-9.5,82,4,4.0,100.19,Snow
146,1/7/2012 2:00,-8.1,-11.1,79,4,19.3,100.15,Cloudy
...,...,...,...,...,...,...,...,...
8768,12/31/2012 8:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
8769,12/31/2012 9:00,-8.1,-9.6,89,4,2.4,101.09,Snow
8770,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
8772,12/31/2012 12:00,-5.8,-7.5,88,4,12.9,100.78,Snow
8773,12/31/2012 13:00,-4.6,-6.6,86,4,12.9,100.63,Snow

Find out all the Null Values in the data.

In [27]:
df.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [29]:
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

Rename the column name 'Weather' of the dataframe to 'Weather Condition'

In [30]:
df = df.rename(columns={'Weather':'Weather Condition'})
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather Condition'],
      dtype='object')

Visibility's mean

In [31]:
df.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [34]:
df[['Temp_C',	'Dew Point Temp_C',	'Rel Hum_%',	'Wind Speed_km/h',	'Visibility_km',	'Press_kPa']].var()

Temp_C              136.606604
Dew Point Temp_C    118.441263
Rel Hum_%           286.248550
Wind Speed_km/h      75.493440
Visibility_km       159.332259
Press_kPa             0.712344
dtype: float64

Where snow is recorded

In [35]:
df[df['Weather Condition'].str.contains('Snow')]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
41,1/2/2012 17:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,1/2/2012 20:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,1/2/2012 21:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,1/2/2012 23:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,1/3/2012 0:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

 instances when 'Wind Speed is above 24' and 'Visibility is 25'.

In [39]:
df[(df['Wind Speed_km/h']>24) & (df['Visibility_km'] == 25)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
23,1/1/2012 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,1/2/2012 0:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,1/2/2012 1:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,1/2/2012 2:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,1/2/2012 3:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8705,12/28/2012 17:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
8753,12/30/2012 17:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8755,12/30/2012 19:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8759,12/30/2012 23:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,12/31/2012 0:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

What is the Mean value of each column against each 'Weather Condition ?

In [46]:
df['Weather Condition'] = df['Weather Condition'].str.split(',')
df = df.explode('Weather Condition')
df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,Freezing Drizzle
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,Fog
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,Freezing Drizzle

In [47]:
df.groupby('Weather Condition').describe()

                      Date/Time                                 \
                          count                           mean
Weather Condition
Blowing Snow                 21  2012-08-22 03:22:51.428571392
Clear                      1326  2012-06-25 18:03:12.760180992
Cloudy                     1728  2012-07-01 16:51:29.583333376
Drizzle                     139  2012-08-14 20:31:56.546762496
Fog                         422  2012-07-30 10:39:14.502369536
Freezing Drizzle             27  2012-04-29 19:15:33.333333248
Freezing Fog                  4            2012-02-22 06:45:00
Freezing Rain                22  2012-03-21 02:27:16.363636480
Haze                         29  2012-04-15 00:53:47.586206976
Heavy Rain Showers            1            2012-05-29 06:00:00
Ice Pellets                  13  2012-11-05 10:09:13.846153728
Mainly Clear               2106  2012-07-12 06:48:08.888888832
Moderate Rain                 1            2012-12-10 08:00:00
Moderate Rain Showers         1            2012-07-17 06:00:00
Moderate Snow                 6            2012-09-01 19:40:00
Mostly Cloudy              2069  2012-07-01 10:42:53.417109760
Rain                        454  2012-07-16 17:52:43.876652032
Rain Showers                210  2012-07-16 17:26:34.285714432
Snow                        508  2012-05-22 23:26:13.228346368
Snow Grains                   2            2012-07-02 16:30:00
Snow Pellets                  1            2012-11-24 15:00:00
Snow Showers                 66  2012-08-04 07:01:49.090909184
Thunderstorms                27  2012-07-14 03:28:53.333333248

                                                                 \
                                       min                  25%
Weather Condition
Blowing Snow           2012-01-13 21:00:00  2012-02-25 07:00:00
Clear                  2012-01-03 19:00:00  2012-03-23 04:15:00
Cloudy                 2012-01-01 17:00:00  2012-03-28 09:45:00
Drizzle                2012-01-23 20:00:00  2012-05-04 02:30:00
Fog                    2012-01-01 00:00:00  2012-03-21 06:15:00
Freezing Drizzle       2012-01-01 02:00:00  2012-01-15 07:00:00
Freezing Fog           2012-01-22 06:00:00  2012-02-01 21:00:00
Freezing Rain          2012-01-07 09:00:00  2012-01-14 13:15:00
Haze                   2012-01-22 12:00:00  2012-02-01 15:00:00
Heavy Rain Showers     2012-05-29 06:00:00  2012-05-29 06:00:00
Ice Pellets            2012-03-03 04:00:00  2012-12-17 03:00:00
Mainly Clear           2012-01-02 12:00:00  2012-05-13 22:00:00
Moderate Rain          2012-12-10 08:00:00  2012-12-10 08:00:00
Moderate Rain Showers  2012-07-17 06:00:00  2012-07-17 06:00:00
Moderate Snow          2012-01-12 15:00:00  2012-04-09 02:00:00
Mostly Cloudy          2012-01-01 16:00:00  2012-04-10 19:00:00
Rain                   2012-01-01 18:00:00  2012-04-22 22:15:00
Rain Showers           2012-01-01 22:00:00  2012-05-10 16:30:00
Snow                   2012-01-03 07:00:00  2012-01-26 22:45:00
Snow Grains            2012-01-13 09:00:00  2012-04-08 00:45:00
Snow Pellets           2012-11-24 15:00:00  2012-11-24 15:00:00
Snow Showers           2012-01-02 17:00:00  2012-02-02 02:15:00
Thunderstorms          2012-05-25 20:00:00  2012-07-01 21:30:00

                                                                 \
                                       50%                  75%
Weather Condition
Blowing Snow           2012-12-22 16:00:00  2012-12-27 14:00:00
Clear                  2012-06-24 04:30:00  2012-09-16 20:45:00
Cloudy                 2012-06-19 22:00:00  2012-10-13 19:15:00
Drizzle                2012-09-29 23:00:00  2012-12-02 22:30:00
Fog                    2012-09-29 23:00:00  2012-12-02 19:45:00
Freezing Drizzle       2012-02-01 02:00:00  2012-12-10 04:30:00
Freezing Fog           2012-02-25 19:30:00  2012-03-17 05:15:00
Freezing Rain          2012-01-27 07:30:00  2012-02-01 12:15:00
Haze                   2012-03-13 07:00:00  2012-03-13 22:00:00
Heavy Rain Showers     2012-05-29 06:00:00  2012-05-29 06:00:00
Ice Pellets            2012-12-17 06:00:00  2012-12-21 01:00:00
Mainly Clear           2012-07-20 10:30:00  2012-09-12 18:45:00
Moderate Rain          2012-12-10 08:00:00  2012-12-10 08:00:00
Moderate Rain Showers  2012-07-17 06:00:00  2012-07-17 06:00:00
Moderate Snow          2012-12-27 08:30:00  2012-12-27 09:45:00
Mostly Cloudy          2012-06-28 23:00:00  2012-09-28 10:00:00
Rain                   2012-06-27 04:30:00  2012-10-14 16:45:00
Rain Showers           2012-07-16 17:30:00  2012-09-22 12:45:00
Snow                   2012-02-27 19:30:00  2012-12-17 14:15:00
Snow Grains            2012-07-02 16:30:00  2012-09-26 08:15:00
Snow Pellets           2012-11-24 15:00:00  2012-11-24 15:00:00
Snow Showers           2012-11-24 17:30:00  2012-12-12 15:15:00
Thunderstorms          2012-07-17 09:00:00  2012-07-27 21:00:00

                                                 Temp_C             ...  \
                                       max  std   count       mean  ...
Weather Condition                                                   ...
Blowing Snow           2012-12-27 19:00:00  NaN    21.0  -5.414286  ...
Clear                  2012-12-30 20:00:00  NaN  1326.0   6.825716  ...
Cloudy                 2012-12-31 06:00:00  NaN  1728.0   7.970544  ...
Drizzle                2012-12-22 03:00:00  NaN   139.0   6.905036  ...
Fog                    2012-12-31 10:00:00  NaN   422.0   5.034360  ...
Freezing Drizzle       2012-12-28 02:00:00  NaN    27.0  -4.714815  ...
Freezing Fog           2012-03-17 06:00:00  NaN     4.0  -7.575000  ...
Freezing Rain          2012-12-17 03:00:00  NaN    22.0  -3.668182  ...
Haze                   2012-12-13 12:00:00  NaN    29.0  -1.224138  ...
Heavy Rain Showers     2012-05-29 06:00:00  NaN     1.0  10.900000  ...
Ice Pellets            2012-12-21 05:00:00  NaN    13.0  -0.653846  ...
Mainly Clear           2012-12-30 22:00:00  NaN  2106.0  12.558927  ...
Moderate Rain          2012-12-10 08:00:00  NaN     1.0   1.700000  ...
Moderate Rain Showers  2012-07-17 06:00:00  NaN     1.0  19.600000  ...
Moderate Snow          2012-12-27 12:00:00  NaN     6.0  -5.500000  ...
Mostly Cloudy          2012-12-31 03:00:00  NaN  2069.0  10.574287  ...
Rain                   2012-12-21 21:00:00  NaN   454.0   8.979736  ...
Rain Showers           2012-12-14 11:00:00  NaN   210.0  14.201429  ...
Snow                   2012-12-31 23:00:00  NaN   508.0  -4.145472  ...
Snow Grains            2012-12-21 00:00:00  NaN     2.0  -1.550000  ...
Snow Pellets           2012-11-24 15:00:00  NaN     1.0   0.700000  ...
Snow Showers           2012-12-31 08:00:00  NaN    66.0  -3.769697  ...
Thunderstorms          2012-09-14 20:00:00  NaN    27.0  20.225926  ...

                      Visibility_km            Press_kPa                      \
                                max        std     count        mean     min
Weather Condition
Blowing Snow                    9.7   3.677926      21.0   99.787143   98.11
Clear                          48.3  10.207515    1326.0  101.587443   99.52
Cloudy                         48.3   8.836212    1728.0  100.911441   98.39
Drizzle                        25.0   6.959930     139.0  100.522086   97.79
Fog                             9.7   2.879058     422.0  100.766588   97.79
Freezing Drizzle               12.9   3.346908      27.0  100.398148   98.44
Freezing Fog                    0.8   0.300000       4.0  102.320000  101.97
Freezing Rain                  16.1   3.723751      22.0   99.777273   98.22
Haze                            9.7   2.588517      29.0  101.067241  100.28
Heavy Rain Showers              2.4        NaN       1.0  100.260000  100.26
Ice Pellets                    11.3   2.284928      13.0  100.428462   99.40
Mainly Clear                   48.3  11.849994    2106.0  101.248832   98.67
Moderate Rain                   6.4        NaN       1.0   99.980000   99.98
Moderate Rain Showers           3.2        NaN       1.0  100.010000  100.01
Moderate Snow                   0.8   0.109545       6.0  100.373333   99.88
Mostly Cloudy                  48.3  11.014855    2069.0  101.025288   98.36
Rain                           48.3   7.780046     454.0  100.293943   97.52
Rain Showers                   48.3   5.599801     210.0  100.390095   98.51
Snow                           25.0   8.008024     508.0  100.458957   97.75
Snow Grains                    25.0  14.283557       2.0   99.580000   98.56
Snow Pellets                    2.4        NaN       1.0   99.700000   99.70
Snow Showers                   48.3   7.780701      66.0  100.987576   99.49
Thunderstorms                  25.0   7.616605      27.0  100.222222   99.65


                            25%      50%       75%     max       std
Weather Condition
Blowing Snow            99.2400  100.160  100.4700  100.64  0.837593
Clear                  101.1100  101.560  101.9700  103.63  0.668658
Cloudy                 100.4000  100.900  101.4000  103.65  0.813979
Drizzle                100.0800  100.660  101.1200  102.07  0.901297
Fog                    100.2800  100.730  101.3675  103.04  0.872746
Freezing Drizzle       100.1900  100.620  100.8150  101.27  0.727890
Freezing Fog           102.1425  102.230  102.4075  102.85  0.374789
Freezing Rain           98.7775  100.140  100.3925  101.01  0.932907
Haze                   100.5000  100.730  101.2600  102.97  0.825776
Heavy Rain Showers     100.2600  100.260  100.2600  100.26       NaN
Ice Pellets            100.1200  100.470  100.8900  100.96  0.512459
Mainly Clear           100.7800  101.250  101.6700  103.59  0.701775
Moderate Rain           99.9800   99.980   99.9800   99.98       NaN
Moderate Rain Showers  100.0100  100.010  100.0100  100.01       NaN
Moderate Snow          100.0500  100.570  100.6475  100.67  0.379245
Mostly Cloudy          100.5400  101.030  101.5200  103.65  0.786758
Rain                    99.7900  100.375  100.7575  102.26  0.745667
Rain Showers            99.8425  100.470  100.9100  102.31  0.742157
Snow                    99.9600  100.590  101.1200  102.73  0.978273
Snow Grains             99.0700   99.580  100.0900  100.60  1.442498
Snow Pellets            99.7000   99.700   99.7000   99.70       NaN
Snow Showers           100.3425  101.050  101.4350  102.52  0.811422
Thunderstorms           99.8450  100.190  100.5600  101.06  0.393743

[23 rows x 56 columns]

 Show all the Records where Weather Condition is Fog.

In [48]:
df[df['Weather Condition'].str.contains('Fog')]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,Fog
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,Fog
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8739,2012-12-30 03:00:00,-9.1,-10.4,90,11,3.6,100.30,Fog
8740,2012-12-30 04:00:00,-9.3,-10.6,90,13,9.7,100.28,Fog
8741,2012-12-30 05:00:00,-9.1,-10.4,90,11,4.0,100.32,Fog
8742,2012-12-30 06:00:00,-9.3,-10.8,89,17,8.0,100.39,Fog
8770,2012-12-31 10:00:00,-7.4,-8.9,89,4,6.4,101.05,Fog

 Find all instances when 'Weather is Clear' or 'Visibility is above 40'

In [51]:
df[(df['Weather Condition'].str.contains('Clear')) | (df['Visibility_km']>40)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
36,2012-01-02 12:00:00,1.7,-6.2,56,48,24.1,99.21,Mainly Clear
60,2012-01-03 12:00:00,-14.9,-22.6,52,20,24.1,101.34,Mainly Clear
61,2012-01-03 13:00:00,-15.1,-22.4,54,22,24.1,101.34,Mainly Clear
62,2012-01-03 14:00:00,-14.9,-22.9,50,22,24.1,101.38,Mainly Clear
63,2012-01-03 15:00:00,-14.8,-22.2,53,19,24.1,101.44,Mainly Clear
...,...,...,...,...,...,...,...,...
8754,2012-12-30 18:00:00,-12.6,-16.0,76,24,25.0,101.36,Mainly Clear
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,Clear
8757,2012-12-30 21:00:00,-13.8,-16.5,80,20,25.0,101.50,Mainly Clear
8758,2012-12-30 22:00:00,-13.7,-16.3,81,19,25.0,101.54,Mainly Clear

 Find all instances when :
A. 'Weather is Clear' and 'Relative Humidity is greater than 50'
or
B. 'Visibility is above 40'

In [52]:
df[(df['Weather Condition'].str.contains('Clear')) & (df['Rel Hum_%']>50)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
36,2012-01-02 12:00:00,1.7,-6.2,56,48,24.1,99.21,Mainly Clear
60,2012-01-03 12:00:00,-14.9,-22.6,52,20,24.1,101.34,Mainly Clear
61,2012-01-03 13:00:00,-15.1,-22.4,54,22,24.1,101.34,Mainly Clear
63,2012-01-03 15:00:00,-14.8,-22.2,53,19,24.1,101.44,Mainly Clear
64,2012-01-03 16:00:00,-15.3,-22.9,52,22,24.1,101.51,Mainly Clear
...,...,...,...,...,...,...,...,...
8754,2012-12-30 18:00:00,-12.6,-16.0,76,24,25.0,101.36,Mainly Clear
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,Clear
8757,2012-12-30 21:00:00,-13.8,-16.5,80,20,25.0,101.50,Mainly Clear
8758,2012-12-30 22:00:00,-13.7,-16.3,81,19,25.0,101.54,Mainly Clear

In [53]:
df[df['Visibility_km']>40]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
106,2012-01-05 10:00:00,-6.0,-10.0,73,17,48.3,100.45,Mainly Clear
107,2012-01-05 11:00:00,-5.6,-10.2,70,22,48.3,100.41,Mainly Clear
108,2012-01-05 12:00:00,-4.7,-9.6,69,20,48.3,100.38,Mainly Clear
109,2012-01-05 13:00:00,-4.4,-9.7,66,26,48.3,100.40,Mainly Clear
110,2012-01-05 14:00:00,-5.1,-10.7,65,22,48.3,100.46,Mainly Clear
...,...,...,...,...,...,...,...,...
8748,2012-12-30 12:00:00,-12.2,-15.7,75,26,48.3,100.91,Mostly Cloudy
8749,2012-12-30 13:00:00,-12.4,-16.2,73,37,48.3,100.92,Mostly Cloudy
8750,2012-12-30 14:00:00,-11.8,-16.1,70,37,48.3,100.96,Mainly Clear
8751,2012-12-30 15:00:00,-11.3,-15.6,70,32,48.3,101.05,Mainly Clear
8752,2012-12-30 16:00:00,-11.4,-15.5,72,26,48.3,101.15,Mainly Clear